

.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 10%;
    top: 10%;
    box-sizing: border-box;
}

/*

.Modal {
    margin: auto;
    margin-top: 2rem;
    height: 90vh;
    width: 90%;
    height: auto;
    z-index: 500;
    background-color: white;
    border: 1px solid black;  
    box-sizing: border-box;
    position: fixed;
}


.Modal {
    margin: auto;
    top: 2rem;
    left: 2vw;
    right: 2vw;
    

    height: 90vh;
    width: 90vw;
    
    z-index: 500;
    background-color: white;
    border: 1px solid black;  
    box-sizing: border-box;
    position: fixed;
}
*/