
.editorial-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.editorial{
    color: gray;
}
.editorial-border{
    font-size: 1.5rem;
    color: gray;
}

.editorial-items{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

.editorial-nav span,
.editorial-items li{
    padding: .5rem .5rem;
    margin-right: 1rem;
}
.editorial-nav a,
.editorial-items a{
    text-decoration: none;
    color: gray;
    white-space: nowrap;
}
.editorial-nav a:hover,
.editorial-items a:hover{
    color: black;
}
.editorial-nav a.active,
.editorial-items a.active{
    color: black;
   border-bottom: 1px solid black;
}

.sign-btn{
    background-color: white;
    color: gray;
    border: none;
}

.sign-btn:focus{
    outline: none;
}

.sign-btn:hover{
    color: black;
}