.collections{
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.collection-details{
    width: 100%;
    height: 25rem;
    margin-bottom: 1.5rem;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.collection-details h3{
    color: black;
    margin: 0;
    padding: 0;
}
.collection-details img{
    width: 100%;
    height: 70%;
    border-radius: .5rem;
    object-fit: cover;
}
.tags{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tag-name{
    margin: 0;
    margin-right: .3rem;
    padding: .1rem .4rem;
    color: gray;
    background-color: rgb(236, 234, 234);
    border-radius: .2rem;
    margin-bottom: .5rem;
}

@media (min-width: 40rem) and (max-width: 75rem){
    .collections{
        width: 80%;
    }
    
    .collection-details{
        width: 40%;
    }
}

@media (min-width: 75rem) {
    .collections{
        width: 70%;
    }
    
    .collection-details{
        width: 30%;
    }
}